@import '../abstracts/variable';
@import '../abstracts/mixin';

@import '../components/card';
@import '../components/ans-que';

@import '../components/welcome-panel';
@import '../components/inner-tab';
@import '../components/cs-btn';

.my-application{
    .card {
        border: none;
        border-radius: 8px;
        border-left: 7px solid var(--brand-primary);
        .card-body{
            padding: 1rem;
            a span{
                display: inline-block;
                font-size: .9rem;
            }
        }
    }
    .grid {
        @include grid(2, 1em, .5em);
    }
    .download-grid {
        @include grid(2, 1em, .5em);
    }
    .form-action{
        min-height: 100%;
    }
}