.text-black {
  color: $black;
}

.text-base{
  color: $base-color;
  &:hover,
  &:focus,
  &:active{
    color: $base-color;
  }
}


.theme-secondary {
  @extend .btn;
  @extend .rounded-0;
  @extend .px-5;
  @extend .w-100;
  background-color: var(--brand-secondary);
}

.text-brand {
  color: $anchor-color;
}

.font-medium {
  font-weight: 600;
}

.content-none {

  &:before,
  &:after {
    content: none;
  }
}

.badge-notify {
  @extend .position-absolute;
  top: 4px;
  right: -2px;
  border-radius: 50%;
  font-size: 11px;
  line-height: 20px;
  min-height: 20px;
  text-align: center;
  min-width: 20px;
  display: block;
  background: #ee4f57;
}

.text-decoration-underline{
  text-decoration: underline;
}

.tooltip {
  z-index: 999;
}

.no-wrap{
  @extend %no-wrap;
}

.text-truncate-2{
  @extend  %text-truncate-2;
}

.col-span-2{
  grid-column: span 2/span 2;
}

.col-span-3{
  grid-column: span 3/span 3;}