.text-black {
  color: $black;
}

.text-base {
  color: $base-color;

  &:hover,
  &:focus,
  &:active {
    color: $base-color;
  }
}


.text-brand {
  color: $anchor-color;
}

.font-medium {
  font-weight: 600;
}

.content-none {

  &:before,
  &:after {
    content: none !important;
  }
}

.badge-notify {
  @extend .position-absolute;
  top: 4px;
  right: -2px;
  border-radius: 50%;
  font-size: 11px;
  line-height: 20px;
  min-height: 20px;
  text-align: center;
  min-width: 20px;
  display: block;
  background: #ee4f57;
}

.text-decoration-underline {
  text-decoration: underline;
}

.tooltip {
  z-index: 999;
}

.no-wrap {
  @extend %no-wrap;
}

.text-truncate-2 {
  @extend %text-truncate-2;
}

.col-span-2 {
  grid-column: span 2/span 2;
}

.col-span-3 {
  grid-column: span 3/span 3;
}

.flex-center{
  @extend %flex-center;
}

.gray-scroll{
  @extend %gray-scroll;
}

.bg-light-info {

  &:active,
  &.active {
    background-color: #81b5ff !important;
  }
}

.bg-light-warning {

  &:active,
  &.active {
    background-color: #f8d587 !important;
  }
}

.bg-light-success {

  &:active,
  &.active {
    background-color: #9ee8c7 !important;
  }
}

.bg-light-danger {

  &:active,
  &.active {
    background-color: #f59eb6 !important;
  }
}